*{
    box-sizing: border-box;
}
body{
    background-color: rgb(225, 255, 255);
    margin:5%;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap:15px;
}
section{
    padding:10px;
    border-radius:10px;
}
header{
    display:flex;
    gap:5%;
    align-items:center;
}
header img{
    width:70px;
    height:70px;
}
.gray{
    grid-column: 3 / 4;
    grid-row:1/2;
}
.purple{
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}
.white{
    grid-column:4 /5;
    grid-row: 1 /span 2;
}
.white-two{
    grid-column:1/2;
    grid-row:2/3;
}
.black{
    grid-column:2/span 2;
    grid-row:2/3;
}
@media(max-width:768px){
    .container{
        display:flex;
        flex-direction:column;      
    }
    section{
        width:100%;
    }
    
}
